<!--CATEGORY VIEW START HERE-->
<!--complete logic for category view-->
<% if (title == 'Create Category') { %>
<div class="col-md-10 mx-auto d-block">
<div class="card bg-white shadow-sm">
    <h3 class="card-header bg-info text-white text-center">Create Catalog</h3>
    <div class="card-body pt-5 pl-5 pr-5 pb-4">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mx-auto d-block">
                <div class="input-group">
            <form action="" method="post">
              Catalog Name:<br>
              <input type="text" name="name" value="" class="form-control">
              <br>
              <input type="submit" class="btn btn-info mx-auto d-block mt-4"  value="Add Catalog">
            </form>
        </div>
        </div>
    </div>
    </div>
    </div>
    </div>
<% } else if (title == 'Delete Category') { %>
     
<% } else if (title == 'Update Category') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/category/<%= category.id %>/update" method="post">
               Category Name:<br>
              <input type="text" name="name" value="<%= category.name %>" class="w3-input w3-border w3-round-large">
              <br><br>
              <input type="submit" class="btn btn-primary btn-ms"  value="Update Category">
            </form>
        </div>
    </div>
<% } else if (title == 'Category Details') { %>
    <div class="col-md-10 mx-auto d-block">
        <br>
        <div class="card bg-white shadow-sm">
            <h3 class="card-header bg-info text-white text-center">Catalog Details</h3>
            <div class="card-body pt-5 pl-5 pr-5 pb-4">
                <div class="row">
                    <div class="col-md-12">
             <h2>Catalog Details - <%= category.name %></h2>
             <p>I am an category for this ID = <%= category.id %></p>
             <p>Category Name: <%= category.name %></p>
             <a href="/blog/category/<%= category.id %>/update">Edit  Category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete Category</a>
        </div>
        
        <% if(category.posts.length == 0) { %>
            <h3>There are no posts under this category yet </h3>
        <% } else { %>
            <h3>All Posts in this Category</h3>
            <div class="container">
                <ol>
                <% category.posts.forEach(function(post) { %>
                        <li>
                            <p><%= post.post_title %>
                               <%= post.post_body %>
                                <br/><a href="/blog/post/<%= post.id %>/update">Edit  Post</a> | <a href="/blog/post/<%= post.id %>/delete">Delete Post</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>  
    </div>
    </div>
     </div>
   </div>
  </div>
  </div>
<% } else if (title == 'Category List') { %>
    <div class="col-md-10 mx-auto d-block">
    <div class="card bg-white shadow-sm">
        <h3 class="card-header bg-info text-white text-center">CATALOGS</h3>
        <div class="card-body pt-5 pl-5 pr-5 pb-4">
            <div class="row">
        <ol>
        <% categories.forEach(function(category) { %>
                <li>
                    <h4><a href="/blog/category/<%= category.id %>"><%= category.name %></a></h4>
                    <p>The main body of the category <%= category.name %></p>
                     <a href="/blog/category/<%= category.id %>/update">Edit  Category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete Category</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    <div>
    <a href="/blog/category/create" class="btn btn-info"> ADD CATELOGS</a>
    </div>
    </div>
    </div>
</div>
</div>
<% } else { %>

<% } %>
<!--CATEGORY VIEW END HERE-->